*{
  padding: 0;
  margin: 0;
}
:root{
  --light: #eee;
  --dark: black;
  --white: #eeeeee;
}
a{
  text-decoration: none;
  color: var(--dark);
}
body{
  background-color: var(--light);
}
.menu{
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  color: var(--dark);
}
.menu > li{
  list-style: none;
  border: 2px solid transparent;
  padding: 3px;
  border-width: 3px 1.5px 0px 1.5px;
}
.menu > li:hover{
  border: 2px solid var(--white);
  padding: 3px;
  border-width: 3px 1.5px 0px 1.5px;
}
.hero{
  height: 100vh;
}
/* .hero-section1{
} */
.name{
  font-size: 2.188rem;
  text-align: center;
  margin-top: 0.938rem;
  margin-bottom: 0.313rem;
  color: var(--dark);
}
.name2{
  display: none;
}
.profession{
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 0.625rem;
  color: var(--dark);
}
.cv-section{
  display: flex;
  justify-content: center;
  margin-bottom: 0.625rem;
}
.cv-btn{
  border: 2px solid var(--dark);
  background-color: var(--dark);
  color: var(--white);
  padding: 6px 8px;
}
.hero-section2{
  width: 350px;
  height: 550px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 30px;
  animation-name: hero-img;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.hero-img{
  width: 300px;
  height: 500px;
  border-radius: 30px;
  
}
@keyframes hero-img {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:0px;}
  75%  {background-color:green; left:0px; top:0px;}
  100% {background-color:red; left:0px; top:0px;}
}

.sub-topic{
  font-size: 1.563rem;
  margin: 5px 0 5px 20px;
  color: var(--dark);
}
.content{
  margin: 0 12px 20px 12px;
  text-indent: 2em;
  font-size: 20px;
  color: var(--dark);
}
.tech-skills{
  display: flex;
  color: var(--dark);
}
.technologies{
  list-style-type: disc;
  list-style-position: inside;
  padding: 10px 30px;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  margin: 10px 30px 30px 30px;
  gap: 10px 50px ;
}
.project-img{
  width: 100px;
  height: 100px;
}
.project{
  border: 2px solid var(--dark);
  align-items: center;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
}
.project-name{
  color: var(--white);
  text-align: center;
}
.footer{
  background-color: var(--dark);
}
.contact_me{
  display: flex;
  justify-content: center;
  color: var(--white);
  margin-top: 8px;
}
.footer_icons{
  display: flex;
  justify-content: space-around;
  padding: 1.25rem;
  margin: 0.625rem 0;
  margin-top: 2px;
  margin-bottom: 0;
}
.social-icon{
  width: 3.125rem;
  height: 3.125rem;
  color: var(--white);
}

@media screen and (min-width: 480px) {
  .name{
    font-size: 3.188rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .profession{
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }
  .tech-skills{
    margin-left: 30px;
  }
  .grid-container{
    grid-template-columns: auto auto auto;
    margin: 10px 20px 20px 20px;
    gap: 10px 40px ;
  }
}
@media screen and (min-width: 659px) {
  .name2{
    display: inline-block;
    margin-top: 1.25rem;
  }
  .menu{
    font-size: 1.3rem;
  }
  .sub-topic{
    font-size: 1.89rem;
    margin: 5px 0 5px 50px;
  }
  .content{
    margin: 0 20px 20px 20px;
    text-indent: 4em;
    font-size: 1.563rem;
  }
  .tech-skills{
    display: flex;
    font-size: 1.563rem;
    margin-left: 50px;
  }
  .grid-container{
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (min-width: 1005px) {
  .hero{
    height: 100vh;
    display: flex;
  }
  .grid-container{
    grid-template-columns: auto auto auto auto auto;
  }
}